In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df_g = pd.read_csv("/Users/parkseoyoung/Desktop/aipSources/garlic.csv",  encoding='cp949')
df_g.head()

,거래일자,저장형 한지 1.0 kg 상자 /특,저장형 한지 1.0 kg 상자 /상,저장형 한지 1.0 kg 상자 /중,저장형 한지 1.0 kg 상자 /하,저장형 한지 반입량,저장형 난지 1.0 kg 상자 /특,저장형 난지 1.0 kg 상자 /상,저장형 난지 1.0 kg 상자 /중,저장형 난지 반입량,...,햇마늘 한지 1.0 kg 상자 /하,햇마늘 한지 반입량,햇마늘 난지 1.0 kg 상자 /특,햇마늘 난지 1.0 kg 상자 /상,햇마늘 난지 1.0 kg 상자 /하,햇마늘 난지 반입량,육쪽마늘 1.0 kg 상자 /특,육쪽마늘 1.0 kg 상자 /상,육쪽마늘 1.0 kg 상자 /중,육쪽마늘 반입량
0,2011.1.1,4800,4200,0,0,15946,0,2692,0,72399,...,0,692,0,0,0,1376,0,0,0,388
1,2011.2.1,0,0,0,0,37586,0,0,0,74785,...,0,832,0,0,0,2047,0,0,0,127
2,2011.3.1,4375,0,0,0,47354,0,2662,0,71940,...,0,1451,0,2820,0,9384,0,0,0,205
3,2011.4.1,0,0,0,0,43815,0,2665,0,49300,...,0,543,0,2784,0,7267,0,0,0,170
4,2011.5.1,0,0,0,0,93446,0,0,0,39143,...,0,16508,0,1853,0,506346,0,0,0,20

In [4]:
df_g = df_g.replace(0, np.NaN)   
df_g.head()

,거래일자,저장형 한지 1.0 kg 상자 /특,저장형 한지 1.0 kg 상자 /상,저장형 한지 1.0 kg 상자 /중,저장형 한지 1.0 kg 상자 /하,저장형 한지 반입량,저장형 난지 1.0 kg 상자 /특,저장형 난지 1.0 kg 상자 /상,저장형 난지 1.0 kg 상자 /중,저장형 난지 반입량,...,햇마늘 한지 1.0 kg 상자 /하,햇마늘 한지 반입량,햇마늘 난지 1.0 kg 상자 /특,햇마늘 난지 1.0 kg 상자 /상,햇마늘 난지 1.0 kg 상자 /하,햇마늘 난지 반입량,육쪽마늘 1.0 kg 상자 /특,육쪽마늘 1.0 kg 상자 /상,육쪽마늘 1.0 kg 상자 /중,육쪽마늘 반입량
0,2011.1.1,4800.0,4200.0,NaN,NaN,15946.0,NaN,2692.0,NaN,72399.0,...,NaN,692.0,NaN,NaN,NaN,1376.0,NaN,NaN,NaN,388.0
1,2011.2.1,NaN,NaN,NaN,NaN,37586.0,NaN,NaN,NaN,74785.0,...,NaN,832.0,NaN,NaN,NaN,2047.0,NaN,NaN,NaN,127.0
2,2011.3.1,4375.0,NaN,NaN,NaN,47354.0,NaN,2662.0,NaN,71940.0,...,NaN,1451.0,NaN,2820.0,NaN,9384.0,NaN,NaN,NaN,205.0
3,2011.4.1,NaN,NaN,NaN,NaN,43815.0,NaN,2665.0,NaN,49300.0,...,NaN,543.0,NaN,2784.0,NaN,7267.0,NaN,NaN,NaN,170.0
4,2011.5.1,NaN,NaN,NaN,NaN,93446.0,NaN,NaN,NaN,39143.0,...,NaN,16508.0,NaN,1853.0,NaN,506346.0,NaN,NaN,NaN,20.0

In [5]:
df_w = pd.read_csv("/Users/parkseoyoung/Desktop/aipSources/garlic_weather.csv",  encoding='cp949')
df_w.head()

         일자  최고 기온   평균 기온  최저 기온     강수량
0  2011.1.1   7.46  -1.370 -10.28    3.30
1  2011.2.1  17.76   3.712  -7.64   56.44
2  2011.3.1  19.00   5.736  -3.74   41.94
3  2011.4.1  24.62  11.506   0.12  107.22
4  2011.5.1  27.32  17.184   7.26  111.84

In [6]:
df = pd.concat([df_g,df_w],axis=1)
df

,거래일자,저장형 한지 1.0 kg 상자 /특,저장형 한지 1.0 kg 상자 /상,저장형 한지 1.0 kg 상자 /중,저장형 한지 1.0 kg 상자 /하,저장형 한지 반입량,저장형 난지 1.0 kg 상자 /특,저장형 난지 1.0 kg 상자 /상,저장형 난지 1.0 kg 상자 /중,저장형 난지 반입량,...,햇마늘 난지 반입량,육쪽마늘 1.0 kg 상자 /특,육쪽마늘 1.0 kg 상자 /상,육쪽마늘 1.0 kg 상자 /중,육쪽마늘 반입량,일자,최고 기온,평균 기온,최저 기온,강수량
0,2011.1.1,4800.0,4200.0,NaN,NaN,15946.0,NaN,2692.0,NaN,72399.0,...,1376.0,NaN,NaN,NaN,388.0,2011.1.1,7.46,-1.370,-10.28,3.30
1,2011.2.1,NaN,NaN,NaN,NaN,37586.0,NaN,NaN,NaN,74785.0,...,2047.0,NaN,NaN,NaN,127.0,2011.2.1,17.76,3.712,-7.64,56.44
2,2011.3.1,4375.0,NaN,NaN,NaN,47354.0,NaN,2662.0,NaN,71940.0,...,9384.0,NaN,NaN,NaN,205.0,2011.3.1,19.00,5.736,-3.74,41.94
3,2011.4.1,NaN,NaN,NaN,NaN,43815.0,NaN,2665.0,NaN,49300.0,...,7267.0,NaN,NaN,NaN,170.0,2011.4.1,24.62,11.506,0.12,107.22
4,2011.5.1,NaN,NaN,NaN,NaN,93446.0,NaN,NaN,NaN,39143.0,...,506346.0,NaN,NaN,NaN,20.0,2011.5.1,27.32,17.184,7.26,111.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021.7.1,33.62,26.040,18.70,296.08
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021.8.1,34.42,25.652,19.72,230.80
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021.9.1,29.68,22.422,15.30,224.54
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021.10.1,29.16,16.844,3.56,31.24
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021.11.1,20.64,14.400,9.74,NaN

In [7]:
df.isnull().sum()

거래일자                    10
저장형 한지 1.0 kg 상자 /특    114
저장형 한지 1.0 kg 상자 /상    122
저장형 한지 1.0 kg 상자 /중    129
저장형 한지 1.0 kg 상자 /하    130
저장형 한지 반입량              11
저장형 난지 1.0 kg 상자 /특    129
저장형 난지 1.0 kg 상자 /상    109
저장형 난지 1.0 kg 상자 /중    123
저장형 난지 반입량              11
햇마늘 한지 1.0 kg 상자 /특    126
햇마늘 한지 1.0 kg 상자 /하    130
햇마늘 한지 반입량              11
햇마늘 난지 1.0 kg 상자 /특    128
햇마늘 난지 1.0 kg 상자 /상    114
햇마늘 난지 1.0 kg 상자 /하    130
햇마늘 난지 반입량              11
육쪽마늘 1.0 kg 상자 /특      127
육쪽마늘 1.0 kg 상자 /상      130
육쪽마늘 1.0 kg 상자 /중      130
육쪽마늘 반입량                13
일자                       0
최고 기온                    0
평균 기온                    0
최저 기온                    0
강수량                      1
dtype: int64

In [8]:
df = df.dropna(subset=["거래일자"])
df.isnull().sum()

거래일자                     0
저장형 한지 1.0 kg 상자 /특    104
저장형 한지 1.0 kg 상자 /상    112
저장형 한지 1.0 kg 상자 /중    119
저장형 한지 1.0 kg 상자 /하    120
저장형 한지 반입량               1
저장형 난지 1.0 kg 상자 /특    119
저장형 난지 1.0 kg 상자 /상     99
저장형 난지 1.0 kg 상자 /중    113
저장형 난지 반입량               1
햇마늘 한지 1.0 kg 상자 /특    116
햇마늘 한지 1.0 kg 상자 /하    120
햇마늘 한지 반입량               1
햇마늘 난지 1.0 kg 상자 /특    118
햇마늘 난지 1.0 kg 상자 /상    104
햇마늘 난지 1.0 kg 상자 /하    120
햇마늘 난지 반입량               1
육쪽마늘 1.0 kg 상자 /특      117
육쪽마늘 1.0 kg 상자 /상      120
육쪽마늘 1.0 kg 상자 /중      120
육쪽마늘 반입량                 3
일자                       0
최고 기온                    0
평균 기온                    0
최저 기온                    0
강수량                      0
dtype: int64

In [9]:
df = df.dropna(subset=["저장형 한지 반입량","저장형 난지 반입량","햇마늘 한지 반입량","햇마늘 난지 반입량","육쪽마늘 반입량"])
df.isnull().sum()

거래일자                     0
저장형 한지 1.0 kg 상자 /특    102
저장형 한지 1.0 kg 상자 /상    109
저장형 한지 1.0 kg 상자 /중    116
저장형 한지 1.0 kg 상자 /하    117
저장형 한지 반입량               0
저장형 난지 1.0 kg 상자 /특    116
저장형 난지 1.0 kg 상자 /상     97
저장형 난지 1.0 kg 상자 /중    110
저장형 난지 반입량               0
햇마늘 한지 1.0 kg 상자 /특    113
햇마늘 한지 1.0 kg 상자 /하    117
햇마늘 한지 반입량               0
햇마늘 난지 1.0 kg 상자 /특    115
햇마늘 난지 1.0 kg 상자 /상    102
햇마늘 난지 1.0 kg 상자 /하    117
햇마늘 난지 반입량               0
육쪽마늘 1.0 kg 상자 /특      114
육쪽마늘 1.0 kg 상자 /상      117
육쪽마늘 1.0 kg 상자 /중      117
육쪽마늘 반입량                 0
일자                       0
최고 기온                    0
평균 기온                    0
최저 기온                    0
강수량                      0
dtype: int64

In [10]:
### -------------------------------------------------------------------------------------------------------- 저장형 한지

In [11]:
#여러 개의 컬럼 데이터를 추출하는 경우에는 대괄호를 두번([[ ]]) 사용합니다. 
garlic_one = df[['저장형 한지 1.0 kg 상자 /특','저장형 한지 1.0 kg 상자 /상','저장형 한지 1.0 kg 상자 /중','저장형 한지 1.0 kg 상자 /하']]

garlic_one

,저장형 한지 1.0 kg 상자 /특,저장형 한지 1.0 kg 상자 /상,저장형 한지 1.0 kg 상자 /중,저장형 한지 1.0 kg 상자 /하
0,4800.0,4200.0,NaN,NaN
1,NaN,NaN,NaN,NaN
2,4375.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
115,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN
118,NaN,2000.0,NaN,NaN
119,NaN,NaN,NaN,NaN

In [12]:
garlic_one.isnull().sum()

저장형 한지 1.0 kg 상자 /특    102
저장형 한지 1.0 kg 상자 /상    109
저장형 한지 1.0 kg 상자 /중    116
저장형 한지 1.0 kg 상자 /하    117
dtype: int64

In [13]:
garlic_one = garlic_one.dropna(axis=0,how='all')   # 모든 열의 같은 행 값이 NaN이면 해당 행 삭제
garlic_one.isnull().sum()

저장형 한지 1.0 kg 상자 /특     5
저장형 한지 1.0 kg 상자 /상    12
저장형 한지 1.0 kg 상자 /중    19
저장형 한지 1.0 kg 상자 /하    20
dtype: int64

In [14]:
garlic_one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 118
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   저장형 한지 1.0 kg 상자 /특  16 non-null     float64
 1   저장형 한지 1.0 kg 상자 /상  9 non-null      float64
 2   저장형 한지 1.0 kg 상자 /중  2 non-null      float64
 3   저장형 한지 1.0 kg 상자 /하  1 non-null      float64
dtypes: float64(4)
memory usage: 840.0 bytes

In [15]:
garlic_one

,저장형 한지 1.0 kg 상자 /특,저장형 한지 1.0 kg 상자 /상,저장형 한지 1.0 kg 상자 /중,저장형 한지 1.0 kg 상자 /하
0,4800.0,4200.0,NaN,NaN
2,4375.0,NaN,NaN,NaN
5,2800.0,NaN,NaN,NaN
6,6500.0,3500.0,NaN,NaN
7,4300.0,3000.0,NaN,NaN
9,3000.0,NaN,NaN,NaN
16,1500.0,NaN,NaN,NaN
19,2202.0,NaN,NaN,NaN
20,4000.0,3850.0,4000.0,3000.0
24,5000.0,NaN,NaN,NaN
25,4200.0,NaN,NaN,NaN
33,900.0,700.0,NaN,NaN
34,NaN,2600.0,NaN,NaN
37,800.0,NaN,NaN,NaN
47,1900.0,NaN,NaN,NaN
58,4383.0,NaN,NaN,NaN
79,6638.0,NaN,NaN,NaN
85,NaN,2100.0,NaN,NaN
113,NaN,NaN,2700.0,NaN
114,NaN,10000.0,NaN,NaN
118,NaN,2000.0,NaN,NaN

In [16]:
# 평균 구하기 NaN은 알아서 제외하고 계산해준다. 더해서 나눌 때도 NaN 제외한 개수로 나눔
garlic_one = garlic_one.mean(axis=1)
garlic_one

0       4500.0
2       4375.0
5       2800.0
6       5000.0
7       3650.0
9       3000.0
16      1500.0
19      2202.0
20      3712.5
24      5000.0
25      4200.0
33       800.0
34      2600.0
37       800.0
47      1900.0
58      4383.0
79      6638.0
85      2100.0
113     2700.0
114    10000.0
118     2000.0
dtype: float64

In [17]:
### -------------------------------------------------------------------------------------------------------- 저장형 난지

In [18]:
#여러 개의 컬럼 데이터를 추출하는 경우에는 대괄호를 두번([[ ]]) 사용합니다. 
garlic_two = df[['저장형 난지 1.0 kg 상자 /특','저장형 난지 1.0 kg 상자 /상','저장형 난지 1.0 kg 상자 /중']]

garlic_two

     저장형 난지 1.0 kg 상자 /특  저장형 난지 1.0 kg 상자 /상  저장형 난지 1.0 kg 상자 /중
0                    NaN               2692.0                  NaN
1                    NaN                  NaN                  NaN
2                    NaN               2662.0                  NaN
3                    NaN               2665.0                  NaN
4                    NaN                  NaN                  NaN
..                   ...                  ...                  ...
115                  NaN                  NaN                  NaN
116                  NaN                  NaN                  NaN
117                  NaN                  NaN                  NaN
118                  NaN                  NaN                  NaN
119                  NaN                  NaN                  NaN

[118 rows x 3 columns]

In [19]:
garlic_two.isnull().sum()

저장형 난지 1.0 kg 상자 /특    116
저장형 난지 1.0 kg 상자 /상     97
저장형 난지 1.0 kg 상자 /중    110
dtype: int64

In [20]:
garlic_two = garlic_two.dropna(axis=0,how='all')   # 모든 열의 같은 행 값이 NaN이면 해당 행 삭제
garlic_two.isnull().sum()

저장형 난지 1.0 kg 상자 /특    29
저장형 난지 1.0 kg 상자 /상    10
저장형 난지 1.0 kg 상자 /중    23
dtype: int64

In [21]:
# 평균 구하기 NaN은 알아서 제외하고 계산해준다. 더해서 나눌 때도 NaN 제외한 개수로 나눔
garlic_two = garlic_two.mean(axis=1)
garlic_two

0     2692.0
2     2662.0
3     2665.0
8     2550.0
9     1603.0
16    2503.0
18     600.0
19    2336.0
20    3767.0
22    3487.0
23    3452.0
26    3600.0
27    3553.0
28    2300.0
29    3660.0
31     600.0
32    1460.0
41    2810.0
56    6000.0
57    6300.0
60    4107.0
61    4100.0
62    4122.0
63    3966.0
64    3633.0
71    4200.0
73    4117.0
74    3861.0
76    3001.0
80    2316.0
81    2301.0
dtype: float64

In [22]:
### -------------------------------------------------------------------------------------------------------- 햇마늘 한지

In [23]:
#여러 개의 컬럼 데이터를 추출하는 경우에는 대괄호를 두번([[ ]]) 사용합니다. 
garlic_three = df[['햇마늘 한지 1.0 kg 상자 /특','햇마늘 한지 1.0 kg 상자 /하']]

garlic_three

     햇마늘 한지 1.0 kg 상자 /특  햇마늘 한지 1.0 kg 상자 /하
0                    NaN                  NaN
1                    NaN                  NaN
2                    NaN                  NaN
3                    NaN                  NaN
4                    NaN                  NaN
..                   ...                  ...
115                  NaN                  NaN
116                  NaN                  NaN
117                  NaN                  NaN
118                  NaN                  NaN
119                  NaN                  NaN

[118 rows x 2 columns]

In [24]:
garlic_three.isnull().sum()

햇마늘 한지 1.0 kg 상자 /특    113
햇마늘 한지 1.0 kg 상자 /하    117
dtype: int64

In [25]:
garlic_three = garlic_three.dropna(axis=0,how='all')   # 모든 열의 같은 행 값이 NaN이면 해당 행 삭제
garlic_three.isnull().sum()

햇마늘 한지 1.0 kg 상자 /특    1
햇마늘 한지 1.0 kg 상자 /하    5
dtype: int64

In [26]:
# 평균 구하기 NaN은 알아서 제외하고 계산해준다. 더해서 나눌 때도 NaN 제외한 개수로 나눔
garlic_three = garlic_three.mean(axis=1)
garlic_three

8       3500.0
30      3300.0
54      3200.0
62      8870.0
110     2000.0
114    12000.0
dtype: float64

In [27]:
### -------------------------------------------------------------------------------------------------------- 햇마늘 난지

In [28]:
#여러 개의 컬럼 데이터를 추출하는 경우에는 대괄호를 두번([[ ]]) 사용합니다. 
garlic_four = df[['햇마늘 난지 1.0 kg 상자 /특','햇마늘 난지 1.0 kg 상자 /상','햇마늘 난지 1.0 kg 상자 /하']]

garlic_four

     햇마늘 난지 1.0 kg 상자 /특  햇마늘 난지 1.0 kg 상자 /상  햇마늘 난지 1.0 kg 상자 /하
0                    NaN                  NaN                  NaN
1                    NaN                  NaN                  NaN
2                    NaN               2820.0                  NaN
3                    NaN               2784.0                  NaN
4                    NaN               1853.0                  NaN
..                   ...                  ...                  ...
115                  NaN                  NaN                  NaN
116                  NaN                  NaN                  NaN
117                  NaN                  NaN                  NaN
118                  NaN                  NaN                  NaN
119                  NaN                  NaN                  NaN

[118 rows x 3 columns]

In [29]:
garlic_four.isnull().sum()

햇마늘 난지 1.0 kg 상자 /특    115
햇마늘 난지 1.0 kg 상자 /상    102
햇마늘 난지 1.0 kg 상자 /하    117
dtype: int64

In [30]:
garlic_four = garlic_four.dropna(axis=0,how='all')   # 모든 열의 같은 행 값이 NaN이면 해당 행 삭제
garlic_four.isnull().sum()

햇마늘 난지 1.0 kg 상자 /특    17
햇마늘 난지 1.0 kg 상자 /상     4
햇마늘 난지 1.0 kg 상자 /하    19
dtype: int64

In [31]:
# 평균 구하기 NaN은 알아서 제외하고 계산해준다. 더해서 나눌 때도 NaN 제외한 개수로 나눔
garlic_four = garlic_four.mean(axis=1)
garlic_four

2     2820.0
3     2784.0
4     1853.0
8     1500.0
10    1975.0
11    4600.0
13    4620.0
14    2805.0
16    2396.0
22    3859.0
29    3000.0
37    2869.0
44    5500.0
48    5500.0
51    1300.0
57    7800.0
64    3850.0
73    6500.0
76    1500.0
78    3500.0
dtype: float64

In [32]:
### -------------------------------------------------------------------------------------------------------- 육쪽마늘

In [33]:
#여러 개의 컬럼 데이터를 추출하는 경우에는 대괄호를 두번([[ ]]) 사용합니다. 
garlic_five = df[['육쪽마늘 1.0 kg 상자 /특','육쪽마늘 1.0 kg 상자 /상','육쪽마늘 1.0 kg 상자 /중']]

garlic_five

     육쪽마늘 1.0 kg 상자 /특  육쪽마늘 1.0 kg 상자 /상  육쪽마늘 1.0 kg 상자 /중
0                  NaN                NaN                NaN
1                  NaN                NaN                NaN
2                  NaN                NaN                NaN
3                  NaN                NaN                NaN
4                  NaN                NaN                NaN
..                 ...                ...                ...
115                NaN                NaN                NaN
116                NaN                NaN                NaN
117                NaN                NaN                NaN
118            21000.0                NaN                NaN
119                NaN                NaN                NaN

[118 rows x 3 columns]

In [34]:
garlic_five.isnull().sum()

육쪽마늘 1.0 kg 상자 /특    114
육쪽마늘 1.0 kg 상자 /상    117
육쪽마늘 1.0 kg 상자 /중    117
dtype: int64

In [35]:
garlic_five = garlic_five.dropna(axis=0,how='all')   # 모든 열의 같은 행 값이 NaN이면 해당 행 삭제
garlic_five.isnull().sum()

육쪽마늘 1.0 kg 상자 /특    2
육쪽마늘 1.0 kg 상자 /상    5
육쪽마늘 1.0 kg 상자 /중    5
dtype: int64

In [36]:
# 평균 구하기 NaN은 알아서 제외하고 계산해준다. 더해서 나눌 때도 NaN 제외한 개수로 나눔
garlic_five = garlic_five.mean(axis=1)
garlic_five

26       800.0
47      2500.0
63      6000.0
70      8000.0
105     7000.0
118    21000.0
dtype: float64

In [37]:
### ---------------------- main dataframe 정리

In [38]:
df

,거래일자,저장형 한지 1.0 kg 상자 /특,저장형 한지 1.0 kg 상자 /상,저장형 한지 1.0 kg 상자 /중,저장형 한지 1.0 kg 상자 /하,저장형 한지 반입량,저장형 난지 1.0 kg 상자 /특,저장형 난지 1.0 kg 상자 /상,저장형 난지 1.0 kg 상자 /중,저장형 난지 반입량,...,햇마늘 난지 반입량,육쪽마늘 1.0 kg 상자 /특,육쪽마늘 1.0 kg 상자 /상,육쪽마늘 1.0 kg 상자 /중,육쪽마늘 반입량,일자,최고 기온,평균 기온,최저 기온,강수량
0,2011.1.1,4800.0,4200.0,NaN,NaN,15946.0,NaN,2692.0,NaN,72399.0,...,1376.0,NaN,NaN,NaN,388.0,2011.1.1,7.46,-1.370,-10.28,3.30
1,2011.2.1,NaN,NaN,NaN,NaN,37586.0,NaN,NaN,NaN,74785.0,...,2047.0,NaN,NaN,NaN,127.0,2011.2.1,17.76,3.712,-7.64,56.44
2,2011.3.1,4375.0,NaN,NaN,NaN,47354.0,NaN,2662.0,NaN,71940.0,...,9384.0,NaN,NaN,NaN,205.0,2011.3.1,19.00,5.736,-3.74,41.94
3,2011.4.1,NaN,NaN,NaN,NaN,43815.0,NaN,2665.0,NaN,49300.0,...,7267.0,NaN,NaN,NaN,170.0,2011.4.1,24.62,11.506,0.12,107.22
4,2011.5.1,NaN,NaN,NaN,NaN,93446.0,NaN,NaN,NaN,39143.0,...,506346.0,NaN,NaN,NaN,20.0,2011.5.1,27.32,17.184,7.26,111.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,NaN,NaN,NaN,NaN,73945.0,NaN,NaN,NaN,2710.0,...,7656.0,NaN,NaN,NaN,36174.0,2020.8.1,33.58,26.788,21.56,179.34
116,2020.9.1,NaN,NaN,NaN,NaN,119859.0,NaN,NaN,NaN,2696.0,...,5664.0,NaN,NaN,NaN,38528.0,2020.9.1,30.06,20.992,12.32,233.00
117,2020.10.1,NaN,NaN,NaN,NaN,107715.0,NaN,NaN,NaN,1780.0,...,4341.0,NaN,NaN,NaN,16181.0,2020.10.1,26.02,15.430,5.44,21.48
118,2020.11.1,NaN,2000.0,NaN,NaN,126799.0,NaN,NaN,NaN,1114.0,...,6822.0,21000.0,NaN,NaN,40117.0,2020.11.1,22.88,10.848,0.32,19.22
119,2020.12.1,NaN,NaN,NaN,NaN,63974.0,NaN,NaN,NaN,1205.0,...,4289.0,NaN,NaN,NaN,2649.0,2020.12.1,13.68,3.184,-8.16,24.12

In [39]:
df = df.drop(['저장형 한지 1.0 kg 상자 /특', '저장형 한지 1.0 kg 상자 /상','저장형 한지 1.0 kg 상자 /중','저장형 한지 1.0 kg 상자 /하'],axis=1)

In [40]:
df = df.drop(['저장형 난지 1.0 kg 상자 /특', '저장형 난지 1.0 kg 상자 /상','저장형 난지 1.0 kg 상자 /중'],axis=1)

In [41]:
df = df.drop(['햇마늘 한지 1.0 kg 상자 /특', '햇마늘 한지 1.0 kg 상자 /하'],axis=1)

In [42]:
df = df.drop(['햇마늘 난지 1.0 kg 상자 /특', '햇마늘 난지 1.0 kg 상자 /상','햇마늘 난지 1.0 kg 상자 /하'],axis=1)

In [43]:
df = df.drop(['육쪽마늘 1.0 kg 상자 /특', '육쪽마늘 1.0 kg 상자 /상','육쪽마늘 1.0 kg 상자 /중'],axis=1)

In [44]:
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,일자,최고 기온,평균 기온,최저 기온,강수량
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,2011.1.1,7.46,-1.370,-10.28,3.30
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,2011.2.1,17.76,3.712,-7.64,56.44
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,2011.3.1,19.00,5.736,-3.74,41.94
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,2011.4.1,24.62,11.506,0.12,107.22
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,2011.5.1,27.32,17.184,7.26,111.84
...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,2020.8.1,33.58,26.788,21.56,179.34
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,2020.9.1,30.06,20.992,12.32,233.00
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,2020.10.1,26.02,15.430,5.44,21.48
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,2020.11.1,22.88,10.848,0.32,19.22
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,2020.12.1,13.68,3.184,-8.16,24.12

In [45]:
df = df.drop(['일자'],axis=1)

In [47]:
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.30
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,17.76,3.712,-7.64,56.44
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.94
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.22
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.84
...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,33.58,26.788,21.56,179.34
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,30.06,20.992,12.32,233.00
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,26.02,15.430,5.44,21.48
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.22
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,13.68,3.184,-8.16,24.12

In [ ]:
### ---------------------- main dataframe 에 garlic_one , two, three, four, five 붙이기

In [48]:
garlic_one

0       4500.0
2       4375.0
5       2800.0
6       5000.0
7       3650.0
9       3000.0
16      1500.0
19      2202.0
20      3712.5
24      5000.0
25      4200.0
33       800.0
34      2600.0
37       800.0
47      1900.0
58      4383.0
79      6638.0
85      2100.0
113     2700.0
114    10000.0
118     2000.0
dtype: float64

In [49]:
garlic_one.index

Int64Index([0, 2, 5, 6, 7, 9, 16, 19, 20, 24, 25, 33, 34, 37, 47, 58, 79, 85,
            113, 114, 118],
           dtype='int64')

In [51]:
df['garlic_one'] = garlic_one

In [52]:
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량,garlic_one
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.30,4500.0
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,17.76,3.712,-7.64,56.44,NaN
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.94,4375.0
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.22,NaN
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.84,NaN
...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,33.58,26.788,21.56,179.34,NaN
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,30.06,20.992,12.32,233.00,NaN
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,26.02,15.430,5.44,21.48,NaN
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.22,2000.0
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,13.68,3.184,-8.16,24.12,NaN

In [54]:
df['저장형 난지'] = garlic_two
df['햇마늘 한지'] = garlic_three
df['햇마늘 난지'] = garlic_four
df['육쪽마늘'] = garlic_five

In [55]:
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량,garlic_one,저장형 난지,햇마늘 한지,햇마늘 난지,육쪽마늘
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.30,4500.0,2692.0,NaN,NaN,NaN
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,17.76,3.712,-7.64,56.44,NaN,NaN,NaN,NaN,NaN
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.94,4375.0,2662.0,NaN,2820.0,NaN
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.22,NaN,2665.0,NaN,2784.0,NaN
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.84,NaN,NaN,NaN,1853.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,33.58,26.788,21.56,179.34,NaN,NaN,NaN,NaN,NaN
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,30.06,20.992,12.32,233.00,NaN,NaN,NaN,NaN,NaN
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,26.02,15.430,5.44,21.48,NaN,NaN,NaN,NaN,NaN
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.22,2000.0,NaN,NaN,NaN,21000.0
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,13.68,3.184,-8.16,24.12,NaN,NaN,NaN,NaN,NaN

In [58]:
df.rename(columns={'garlic_one':'저장형 한지'}, inplace=True)

In [59]:
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량,저장형 한지,저장형 난지,햇마늘 한지,햇마늘 난지,육쪽마늘
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.30,4500.0,2692.0,NaN,NaN,NaN
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,17.76,3.712,-7.64,56.44,NaN,NaN,NaN,NaN,NaN
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.94,4375.0,2662.0,NaN,2820.0,NaN
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.22,NaN,2665.0,NaN,2784.0,NaN
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.84,NaN,NaN,NaN,1853.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,33.58,26.788,21.56,179.34,NaN,NaN,NaN,NaN,NaN
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,30.06,20.992,12.32,233.00,NaN,NaN,NaN,NaN,NaN
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,26.02,15.430,5.44,21.48,NaN,NaN,NaN,NaN,NaN
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.22,2000.0,NaN,NaN,NaN,21000.0
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,13.68,3.184,-8.16,24.12,NaN,NaN,NaN,NaN,NaN

In [ ]:
### ---------------------- 가격 데이터 최종??

In [60]:
#여러 개의 컬럼 데이터를 추출하는 경우에는 대괄호를 두번([[ ]]) 사용합니다. 
price = df[['저장형 한지','저장형 난지','햇마늘 한지','햇마늘 난지','육쪽마늘']]
price

     저장형 한지  저장형 난지  햇마늘 한지  햇마늘 난지     육쪽마늘
0    4500.0  2692.0     NaN     NaN      NaN
1       NaN     NaN     NaN     NaN      NaN
2    4375.0  2662.0     NaN  2820.0      NaN
3       NaN  2665.0     NaN  2784.0      NaN
4       NaN     NaN     NaN  1853.0      NaN
..      ...     ...     ...     ...      ...
115     NaN     NaN     NaN     NaN      NaN
116     NaN     NaN     NaN     NaN      NaN
117     NaN     NaN     NaN     NaN      NaN
118  2000.0     NaN     NaN     NaN  21000.0
119     NaN     NaN     NaN     NaN      NaN

[118 rows x 5 columns]

In [61]:
price.isnull().sum()

저장형 한지     97
저장형 난지     87
햇마늘 한지    112
햇마늘 난지     98
육쪽마늘      112
dtype: int64

In [63]:
price = price.dropna(axis=0,how='all')
price.isnull().sum()

저장형 한지    39
저장형 난지    29
햇마늘 한지    54
햇마늘 난지    40
육쪽마늘      54
dtype: int64

In [64]:
price = price.mean(axis=1)
price

0       3596.000000
2       3285.666667
3       2724.500000
4       1853.000000
5       2800.000000
6       5000.000000
7       3650.000000
8       2516.666667
9       2301.500000
10      1975.000000
11      4600.000000
13      4620.000000
14      2805.000000
16      2133.000000
18       600.000000
19      2269.000000
20      3739.750000
22      3673.000000
23      3452.000000
24      5000.000000
25      4200.000000
26      2200.000000
27      3553.000000
28      2300.000000
29      3330.000000
30      3300.000000
31       600.000000
32      1460.000000
33       800.000000
34      2600.000000
37      1834.500000
41      2810.000000
44      5500.000000
47      2200.000000
48      5500.000000
51      1300.000000
54      3200.000000
56      6000.000000
57      7050.000000
58      4383.000000
60      4107.000000
61      4100.000000
62      6496.000000
63      4983.000000
64      3741.500000
70      8000.000000
71      4200.000000
73      5308.500000
74      3861.000000
76      2250.500000
78      3500.000000
79      6638.000000
80      2316.000000
81      2301.000000
85      2100.000000
105     7000.000000
110     2000.000000
113     2700.000000
114    11000.000000
118    11500.000000
dtype: float64

In [ ]:
### ---------------------- main frame - 가격 데이터 append

In [65]:
df['price'] = price
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량,저장형 한지,저장형 난지,햇마늘 한지,햇마늘 난지,육쪽마늘,price
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.30,4500.0,2692.0,NaN,NaN,NaN,3596.000000
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,17.76,3.712,-7.64,56.44,NaN,NaN,NaN,NaN,NaN,NaN
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.94,4375.0,2662.0,NaN,2820.0,NaN,3285.666667
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.22,NaN,2665.0,NaN,2784.0,NaN,2724.500000
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.84,NaN,NaN,NaN,1853.0,NaN,1853.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,33.58,26.788,21.56,179.34,NaN,NaN,NaN,NaN,NaN,NaN
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,30.06,20.992,12.32,233.00,NaN,NaN,NaN,NaN,NaN,NaN
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,26.02,15.430,5.44,21.48,NaN,NaN,NaN,NaN,NaN,NaN
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.22,2000.0,NaN,NaN,NaN,21000.0,11500.000000
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,13.68,3.184,-8.16,24.12,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df = df.drop(['저장형 한지', '저장형 난지','햇마늘 한지','햇마늘 난지','육쪽마늘'],axis=1)
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량,price
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.30,3596.000000
1,2011.2.1,37586.0,74785.0,832.0,2047.0,127.0,17.76,3.712,-7.64,56.44,NaN
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.94,3285.666667
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.22,2724.500000
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.84,1853.000000
...,...,...,...,...,...,...,...,...,...,...,...
115,2020.8.1,73945.0,2710.0,30436.0,7656.0,36174.0,33.58,26.788,21.56,179.34,NaN
116,2020.9.1,119859.0,2696.0,39505.0,5664.0,38528.0,30.06,20.992,12.32,233.00,NaN
117,2020.10.1,107715.0,1780.0,80952.0,4341.0,16181.0,26.02,15.430,5.44,21.48,NaN
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.22,11500.000000
119,2020.12.1,63974.0,1205.0,71747.0,4289.0,2649.0,13.68,3.184,-8.16,24.12,NaN

In [69]:
df = df.dropna(subset=["price"])

In [70]:
df.isnull().sum()

거래일자          0
저장형 한지 반입량    0
저장형 난지 반입량    0
햇마늘 한지 반입량    0
햇마늘 난지 반입량    0
육쪽마늘 반입량      0
최고 기온         0
평균 기온         0
최저 기온         0
강수량           0
price         0
dtype: int64

In [75]:
df

,거래일자,저장형 한지 반입량,저장형 난지 반입량,햇마늘 한지 반입량,햇마늘 난지 반입량,육쪽마늘 반입량,최고 기온,평균 기온,최저 기온,강수량,price
0,2011.1.1,15946.0,72399.0,692.0,1376.0,388.0,7.46,-1.370,-10.28,3.300,3596.000000
2,2011.3.1,47354.0,71940.0,1451.0,9384.0,205.0,19.00,5.736,-3.74,41.940,3285.666667
3,2011.4.1,43815.0,49300.0,543.0,7267.0,170.0,24.62,11.506,0.12,107.220,2724.500000
4,2011.5.1,93446.0,39143.0,16508.0,506346.0,20.0,27.32,17.184,7.26,111.840,1853.000000
5,2011.6.1,477452.0,68052.0,201847.0,1747320.0,127729.0,30.02,21.332,13.56,263.760,2800.000000
6,2011.7.1,73720.0,15960.0,133191.0,229046.0,91949.0,34.20,25.488,18.14,253.600,5000.000000
7,2011.8.1,32645.0,33332.0,31824.0,77547.0,9926.0,33.10,25.100,18.94,283.740,3650.000000
8,2011.9.1,21154.0,84420.0,16601.0,50970.0,1540.0,32.70,22.086,11.26,53.000,2516.666667
9,2011.10.1,75388.0,110380.0,3307.0,7331.0,12961.0,25.96,15.522,3.94,54.760,2301.500000
10,2011.11.1,128030.0,156739.0,1973.0,9289.0,20820.0,25.00,12.954,-0.12,187.920,1975.000000
11,2011.12.1,208533.0,193850.0,4489.0,1875.0,2283.0,13.94,3.436,-6.04,19.760,4600.000000
13,2012.2.1,319196.0,428900.0,1119.0,2082.0,42.0,13.28,1.552,-10.06,40.380,4620.000000
14,2012.3.1,57723.0,47570.0,2717.0,18828.0,191.0,19.46,6.914,-4.16,140.640,2805.000000
16,2012.5.1,145407.0,77224.0,21792.0,779008.0,600.0,28.44,18.232,9.14,51.820,2133.000000
18,2012.7.1,58993.0,281118.0,59520.0,72491.0,84958.0,34.00,25.458,19.06,246.020,600.000000
19,2012.8.1,41087.0,61126.0,37694.0,20550.0,5959.0,35.46,27.002,19.40,533.840,2269.000000
20,2012.9.1,84632.0,63263.0,23339.0,37514.0,20206.0,29.30,21.102,12.08,225.160,3739.750000
22,2012.11.1,515607.0,110260.0,1905.0,152965.0,27974.0,18.42,9.024,-0.72,63.020,3673.000000
23,2012.12.1,62624.0,176079.0,416.0,1013.0,2245.0,14.14,2.176,-8.62,84.740,3452.000000
24,2013.1.1,96907.0,69603.0,481.0,16.0,271.0,14.24,1.312,-10.08,26.960,5000.000000
25,2013.2.1,11410.0,107700.0,743.0,206.0,84.0,17.26,3.264,-7.50,60.120,4200.000000
26,2013.3.1,44135.0,54533.0,1779.0,170.0,1074.0,23.72,7.736,-2.98,68.340,2200.000000
27,2013.4.1,25982.0,149965.0,986.0,1250.0,408.0,23.68,11.120,0.72,77.060,3553.000000
28,2013.5.1,182120.0,190288.0,41464.0,486839.0,15.0,29.40,17.462,5.86,152.800,2300.000000
29,2013.6.1,539814.0,616272.0,143282.0,1292964.0,141217.0,29.96,21.912,13.18,105.060,3330.000000
30,2013.7.1,130170.0,347884.0,133075.0,240049.0,196553.0,33.36,26.384,20.78,161.720,3300.000000
31,2013.8.1,38355.0,159441.0,65035.0,61314.0,40005.0,35.60,27.644,20.26,178.520,600.000000
32,2013.9.1,46235.0,89682.0,4992.0,10775.0,24973.0,31.12,22.310,12.64,102.140,1460.000000
33,2013.10.1,67421.0,81542.0,7365.0,13777.0,12528.0,27.64,17.058,5.80,40.660,800.000000
34,2013.11.1,63508.0,97103.0,22147.0,9111.0,10705.0,22.78,9.416,-2.00,70.680,2600.000000
37,2014.2.1,13440.0,58569.0,4183.0,694.0,3523.0,18.26,4.490,-5.60,35.260,1834.500000
41,2014.6.1,232736.0,683175.0,31826.0,473848.0,254611.0,29.94,21.400,14.84,124.620,2810.000000
44,2014.9.1,574546.0,216144.0,6979.0,16172.0,15322.0,29.76,21.684,13.76,117.500,5500.000000
47,2014.12.1,260054.0,504403.0,1291.0,11018.0,1280.0,13.18,2.898,-7.42,34.040,2200.000000
48,2015.1.1,10066.0,156080.0,200.0,1656.0,5371.0,13.74,3.304,-6.08,40.360,5500.000000
51,2015.4.1,130872.0,346700.0,1840.0,9261.0,28.0,25.38,12.860,3.42,180.240,1300.000000
54,2015.7.1,741882.0,332441.0,91152.0,80713.0,126792.0,32.90,23.720,15.52,206.280,3200.000000
56,2015.9.1,15872.0,18393.0,2197.0,4206.0,17854.0,29.06,20.710,13.26,111.460,6000.000000
57,2015.10.1,55156.0,75645.0,3822.0,5024.0,14124.0,25.70,15.856,4.00,63.420,7050.000000
58,2015.11.1,356875.0,40097.0,2232.0,2938.0,26430.0,21.64,11.758,-0.54,116.460,4383.000000
60,2016.1.1,144082.0,14828.0,367.0,4426.0,2216.0,14.86,1.530,-10.70,43.020,4107.000000
61,2016.2.1,145729.0,2000.0,496.0,212.0,338.0,16.72,3.468,-6.74,53.840,4100.000000
62,2016.3.1,27150.0,10000.0,1232.0,31.0,223.0,20.32,7.636,-5.30,84.200,6496.000000
63,2016.4.1,18259.0,30010.0,508.0,5917.0,32.0,24.20,13.412,4.04,200.440,4983.000000
64,2016.5.1,346314.0,40015.0,18286.0,516347.0,22436.0,28.86,17.858,7.56,125.220,3741.500000
70,2016.11.1,27048.0,7546.0,2149.0,10099.0,30045.0,13.08,7.880,3.70,2.725,8000.000000
71,2016.12.1,7103.0,65640.0,2036.0,747.0,1635.0,17.74,5.410,-4.36,63.700,4200.000000
73,2017.2.1,214700.0,60352.0,1876.0,136.0,1042.0,15.56,3.374,-6.76,38.900,5308.500000
74,2017.3.1,254278.0,14700.0,2375.0,18.0,14987.0,18.38,6.884,-3.46,25.800,3861.000000
76,2017.5.1,331978.0,163429.0,208415.0,849765.0,62684.0,30.60,17.972,7.86,32.220,2250.500000
78,2017.7.1,13410.0,4510.0,50386.0,37492.0,72290.0,34.20,26.128,19.24,167.480,3500.000000
79,2017.8.1,4518.0,215.0,23553.0,10583.0,26064.0,35.76,26.210,16.84,184.920,6638.000000
80,2017.9.1,7497.0,1835.0,12538.0,8529.0,21605.0,29.54,21.380,11.00,101.300,2316.000000
81,2017.10.1,9978.0,5037.0,2261.0,5439.0,16855.0,27.44,16.352,3.40,125.040,2301.000000
85,2018.2.1,56937.0,78880.0,297.0,1047.0,419.0,14.94,0.980,-9.92,26.520,2100.000000
105,2019.10.1,132457.0,47961.0,129605.0,13099.0,25390.0,27.36,16.794,5.80,187.800,7000.000000
110,2020.3.1,147317.0,5520.0,46646.0,2079.0,8955.0,20.86,8.598,-3.58,47.440,2000.000000
113,2020.6.1,748129.0,25496.0,1169057.0,923299.0,400299.0,30.46,20.152,11.76,290.840,2700.000000
114,2020.7.1,180907.0,813.0,37518.0,35880.0,208255.0,29.88,21.580,16.48,242.940,11000.000000
118,2020.11.1,126799.0,1114.0,70907.0,6822.0,40117.0,22.88,10.848,0.32,19.220,11500.000000